<!DOCTYPE html>
<html>
	<head>
		<title>përpilues</title>
		<link rel="stylesheet" type="text/css" href="styles/code.css">
		<script type="text/javascript"></script>
	</head>
	<body>
		<div class="home-top">
		<form action="submit" id="form-code-submit" method="post">
			<input type="submit" value="submit">	
		</form>
			<textarea id="code-input-area" name="code" form="form-code-submit">Write code here.</textarea>
		</div>
	</body>
</html>