<!DOCTYPE html>
<html>
	<head>
		<title>përpilues</title>
		<link rel="stylesheet" type="text/css" href="/styles/code.css">
		<script type="text/javascript" href="/js/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" href="/js/code.js"></script>
	</head>
	<body>
		<div class="top-header">
			<div id="header-detail"><span id="name">Hello <%= user.firstName%> <%= user.lastName%></span><span id="my-codes"><a href="/code/mycodes/">My Codes</a></span><span id="logout"><a href="/user/logout/">Logout</a></span></div>
		</div>
		<div class="code-space">
			<div class="name"><span>enter your source code</span></div>
			<textarea id="code-input-area" name="code" form="form-code-submit"></textarea>
			<div class="name"><span>Enter Input(STDIN)</span></div>
			<textarea id="stdin-input-area" name="stdin" form="form-code-submit"></textarea>
			<div class="name"><span>Add notes</span></div>
			<textarea id="note-input-area" name="note" form="form-code-submit"></textarea>
			<form  id="form-code-submit">
			</form>
			<button onclick="submitCode()" id="submit">submit</button>
		</div>
		<div class="compilation-log">
			<div class="msg-serv">
				
			</div>
		</div>
	</body>
</html>