<!DOCTYPE html>
<html>
	<head>
		<title>përpilues</title>
		<link rel="stylesheet" type="text/css" href="/styles/code.css">
		<script type="text/javascript"></script>
	</head>
	<body>
		<div class="top-header">
			<div id="header-detail"><span id="my-codes"><a href="/code/mycodes/">My Codes</a></span><span id="logout"><a href="/user/logout/">Logout</a></span></div>
		</div>
		<div class="code-space">
			<div class="name"><span>enter your source code</span></div>
			<textarea id="code-input-area" name="code" form="form-code-submit"></textarea>
			<div class="name"><span>Enter Input(STDIN)</span></div>
			<textarea id="stdin-input-area" name="stdin" form="form-code-submit"></textarea>
			<div class="name"><span>Add notes</span></div>
			<textarea id="note-input-area" name="note" form="form-code-submit"></textarea>
			<form action="submit" id="form-code-submit" method="post">
				<input id="submit" type="submit" value="submit">	
			</form>
		</div>
	</body>
</html>