<!DOCTYPE html>
<html>
	<head>
		<title>përpilues</title>
		<link rel="stylesheet" type="text/css" href="styles/home.css">
		<script type="text/javascript"></script>
	</head>
	<body>
		<div class="home-top-header">
			<div class="top-links">
				<span><a href="login/">login</a></span>
				&nbsp;&nbsp;&nbsp;<span><a href="/home/">signup</a></span>
			</div>
		</div>
		<div class="home-top">
			<form method="post" action="signup">
				<input type="text" name="firstName">
				<input type="text" name="lastName">
				<input type="text" name="phone">
				<input type="text" name="username">
				<input type="password" name="password">
				<input type="submit" value="signup">
			</form>
		</div>
	</body>
</html>